.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.list-item {
  float: left;
}
.list-anchor {
  font-size:20px;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 10px;
  text-decoration: none;
}

.list-anchor:hover {
  background-color: #111;
}
